= favicon_link_tag "apple-touch-icon-114x114.png", rel: "apple-touch-icon", sizes: "114x114", type: "image/png"
= favicon_link_tag "apple-touch-icon-144x144.png", rel: "apple-touch-icon", sizes: "144x144", type: "image/png"
%meta{ name: "apple-mobile-web-app-title", content: "ER" }
%meta{ content: "width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0", name: "viewport"}
%meta{ content: "yes", name: "apple-mobile-web-app-capable"}
%meta{ content: "black-translucent", names: "apple-mobile-web-app-status-bar-style"}

<script type="text/javascript">
(function(a,b,c){if(c in b&&b[c]){var d,e=a.location,f=/^(a|html)$/i;a.addEventListener("click",function(a){d=a.target;while(!f.test(d.nodeName)){d=d.parentNode}if("href"in d&&(chref=d.href).replace(e.href,"").indexOf("#")&&!d.attributes.getNamedItem("data-remote")&&(!/^[a-z\+\.\-]+:/i.test(chref)||chref.indexOf(e.protocol+"//"+e.host)===0)){a.preventDefault();e.href=d.href}},false)}})(document,window.navigator,"standalone")
</script>
